@import "../../colorPalette.css";

#resetpassword-page form button{
    background-color: var(--buttons-and-header);
    border:none;
    outline:none;
    color:white;
    display:block;
    margin: 10px auto;
    padding: 8px 15px;
}

#resetpassword-page form button:hover{
    background-color: var(--button-hover);
}

#resetpassword-page form input{
    background-color: var(--inputfields);
    border:none;
    outline:none;
    width:20%;
    padding:3px;
}

#resetpassword-page form *{
    margin:30px auto;
}