
#plant_edit_box {
  margin: 0 auto;
  width: 80%;
}

.plant_edit_input_box {
  margin:0;
  width:55%;
  display:inline-block;
}

.plant-edit-buttons{
  background-color: var(--buttons-and-header);
  border:none;
  outline:none;
  color:white;
  display:block;
  margin: 10px auto;
  padding: 15px 30px;
  text-decoration: none;
}

.plant-edit-buttons:hover{
  background-color:var(--button-hover);
}

.p_edit_input {
  width: 90%;
  padding: 10px;
  border: none;
  background-color: #D9DEB9;
}

.plant_edit_img{
  width:40%;
}