@import "./colorPalette.css";

nav {
  background-color: var(--buttons-and-header);
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 50px 0;
  height:60px;
}

nav ul, nav li *{
  color:white;
  text-decoration: none;
  list-style: none;
  margin: auto 5%;
  font-size: 1.3em;
  font-weight: 400;
}

nav li{ 
  width:130px;
}

nav ul{
  display:flex;
  flex-direction: row;
}

nav ul li *:hover{
  color:rgb(68, 68, 68);
}